<br>
<div class="card col-md-6 col-sm-6 offset-md-3 offset-sm-3">
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center">
      <h1 class="display-3 text-center"> User Registration</h1>
    </div>
  </div>
  <hr>
  <div class="row" *ngIf="!isSubmitted">
    <div class=" col-md-10 col-sm-10 offset-md-1 offset-sm-1 justify-content-center align-items-center">
      <form #regForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group">
          <div>
            <label for="email">
              Email Address
            </label>
          </div>
          <input id="email" #email="ngModel" name="email" type="text" [(ngModel)]="model.email" placeholder="you@domain.com" class="form-control"
            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required/>
          <div *ngIf="email.errors && (email.touched || isSubmitted)">
            <div [hidden]="!email.errors.required && email.dirty" class="help-block alert alert-danger">
              Email is required.
            </div>
            <div [hidden]="!email.errors.pattern" class="help-block alert alert-danger">
              Email is invalid.
            </div>
          </div>
        </div>
        <div class="form-group">
          <div>
            <label for="password">Password</label>
          </div>
          <input id="password" #password="ngModel" name="password" type="password" [(ngModel)]="model.password" placeholder="something secret"
            class="form-control" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$#])[A-Za-z\d$@$#]{8,}$" required />
          <div *ngIf="password.errors && (password.touched || isSubmitted)">
            <div [hidden]="!password.errors.required && password.dirty" class="help-block alert alert-danger">
              Password is required.
            </div>
            <div [hidden]="!password.errors.pattern" class="help-block alert alert-danger">
              <ul>Password must have:
                <li>At least 8 characters</li>
                <li>At least one or more numerical digits</li>
                <li>At least one of these special characters @,# $</li>
                <li>Uses both uppercase and lowercase characters</li>


              </ul>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div>
            <label for="confirmpassword">Confirm Password</label>
          </div>
          <input id="confirmpassword" #confirmPassword="ngModel" name="confirmpassword" type="password" [(ngModel)]="model.confirmPassword"
            placeholder="something secret" class="form-control" required />
          <div *ngIf="confirmPassword.errors && (confirmPassword.touched || isSubmitted)">
            <div [hidden]="!confirmPassword.errors.required && confirmPassword.dirty" class="help-block alert alert-danger">
              Password confirmation is required.
            </div>
          </div>
          <div *ngIf="confirmPassword.dirty" [hidden]="!(model.confirmPassword != model.password)" class="help-block alert alert-danger">
            Passwords do not match
          </div>

        </div>
        <div class="form-group">
          <div>
            <label for="firstname">First Name</label>
          </div>
          <input id="firstname" #firstName="ngModel" name="firstname" type="text" [(ngModel)]="model.firstName" placeholder="John"
            class="form-control" />
          <div *ngIf="firstName.errors && (firstName.touched || isSubmitted)">
            <div [hidden]="!firstName.errors.required && firstName.dirty" class="help-block alert alert-danger">
              First name is required.
            </div>
          </div>
        </div>
        <div class="form-group">
          <div>
            <label for="lastname">Last Name</label>
          </div>
          <input id="lastname" #lastName="ngModel" name="lastname" type="text" [(ngModel)]="model.lastName" placeholder="Tan" class="form-control"
          />
          <div *ngIf="lastName.errors && (lastName.touched || isSubmitted)">
            <div [hidden]="!lastName.errors.required && lastName.dirty" class="help-block alert alert-danger">
              Last name is required.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="gender">Gender</label>
          <br/>
          <input name="gender" type="radio" [(ngModel)]="model.gender" value="{{gender[0]}}" required /> Male
          <br/>
          <input name="gender" type="radio" [(ngModel)]="model.gender" value="{{gender[1]}}" required /> Female
          <div *ngIf="gender.errors && (gender.touched || isSubmitted)">
            <div [hidden]="!gender.errors.required && gender.dirty" class="help-block alert alert-danger">
              Gender is required.
            </div>
          </div>

        </div>
        <div class="form-group">
          <label for="dob">Date of Birth</label>
          <input id="dob" name="dob" type="text" #dateOfBirth="ngModel" class="form-control" [(ngModel)]="model.dateOfBirth" value="{{ model.dateOfBirth }}"
            pattern="^(3[01]|[12][0-9]|0?[1-9])\/(1[012]|0?[1-9])\/(18|19)\d\d" placeholder="DD/MM/YYYY" required>
          <div *ngIf="dateOfBirth.errors && (dateOfBirth.touched || isSubmitted)">
            <div [hidden]="!dateOfBirth.errors.required && dateOfBirth.dirty" class="help-block alert alert-danger">
              Date of birth is required.
            </div>
            <div [hidden]="!dateOfBirth.errors.pattern" class="help-block alert alert-danger">
              <div>Invalid Format</div>
              <div>You must be at least 18 years of age to register</div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="address">Address</label>
          <textarea rows="4" cols="50" id="address" name="address" #address="ngModel" class="form-control" [(ngModel)]="model.address">
                                                    </textarea>
          <div *ngIf="address.errors && (address.touched || isSubmitted)">
            <div [hidden]="!address.errors.required && address.dirty" class="help-block alert alert-danger">
              Address is required.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="country">Country</label>
          <select class="form-control" #country="ngModel" id="country" [(ngModel)]="model.country" [ngModelOptions]="{standalone: true}"
            (ngModelChange)="onChange($event)">
            <option *ngFor="let country of countries" [ngValue]="country.value">{{country.desc}}</option>
          </select>
          <div *ngIf="country.errors && (country.touched || isSubmitted)">
            <div [hidden]="!country.errors.required && country.dirty" class="help-block alert alert-danger">
              Country is required.
            </div>
          </div>

        </div>
        <div class="form-group">
          <label for="contactnumber">Contact Number</label>
          <input id="contactnumber" #contactNumber="ngModel" name="contactnumber" type="text" class="form-control" [(ngModel)]="model.contactNumber"
            pattern="^(?=.*[0-9])[- +()0-9]+$" required />
          <div *ngIf="contactNumber.errors && (contactNumber.touched || isSubmitted)">
            <div [hidden]="!contactNumber.errors.required && contactNumber.dirty" class="help-block alert alert-danger">
              Contact number is required.
            </div>
            <div [hidden]="!contactNumber.errors.pattern" class="help-block alert alert-danger">
              Contact number is invalid.
            </div>

          </div>
        </div>

        <div class="form-group">
          <hr/>
          <button type="submit" [disabled]="!regForm.form.valid" class="btn btn-success">Submit</button>
          <button type="reset" class="btn btn-danger" (click)="regForm.reset()">Reset</button>
        </div>
      </form>
    </div>
  </div>

  <div class="row justify-content-center align-items-center" *ngIf="isSubmitted">
    <div class="col-10 text-center" [ngStyle]="{'background-color':'white'}">
      <div class="form-group">
        <label>Email: {{model.email}}</label>
      </div>
      <div class="form-group">
        <label>First Name: {{model.firstName}}</label>
      </div>
      <div class="form-group">
        <label>Last Name: {{model.lastName}}</label>
      </div>
      <div class="form-group">
        <label>Gender: {{model.gender}}</label>
      </div>
      <div class="form-group">
        <label>Date of Birth: {{model.dateOfBirth}}</label>
      </div>
      <div class="form-group">
        <label>Address: {{model.address}}</label>
      </div>
      <div class="form-group">
        <label>Country: {{model.country}}</label>
      </div>
      <div class="form-group">
        <label>Contact Number: {{model.contactNumber}}</label>
      </div>
      <hr>
      <div>
        <h4>You have successfully submitted your registration!</h4>
      </div>
    </div>
  </div>
</div>
<br>